.btn-success:hover{
    background: red;
}

h3{
    font-size:25px !important;

}
@keyframes animation{
    from{box-shadow: 1px 1px 38px yellow;}
    to{box-shadow: 1px 1px 38px red}
}

canvas{
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}